body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color:mediumturquoise;
    padding: 10px;
}

.header {
    padding: 10px;
    border-color: teal;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    color:teal;
}

.eventlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:cadetblue;
    border-color: teal;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    margin: 10px;
    padding: 4px;
}

.box {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color:gainsboro;
    border-color: teal;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
    text-align: center;
  }

.box1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color:gainsboro;
    border-color: teal;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
    text-align: center;
  }

.box1 a {
    text-decoration: none;
    color: #000;
}

.box1:hover {
    background-color:silver;
}
.week {
    grid-row-start: 6;
    grid-row-end: 7;
}

.day {
    grid-row-start: 3;
    grid-row-end: 4;
}

.box2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 2px; 
    text-align: center;
  }

.box2 a {
    text-decoration: none;
    color: #000;
}

.box2 a:hover {
    color: silver;
}
.box3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 4px;
    margin: 1px; 
    text-align: center;
  }

.box4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 4px;
    margin: 1px;
    text-align: center;
  }

  .box5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 4px;
    margin: 1px;
    text-align: center;
  }

.box6 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 4px;
    margin: 1px;
    text-align: center;
  }

.box7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    padding: 4px;
    margin: 5px;
    text-align: left;
}

.box8 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    padding: 4px;
    margin: 5px;
    text-align: left;
}
.box9 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color:gainsboro;
    padding: 4px;
    margin: 5px;
    border-color: teal;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    text-align: left;
}

.invitelist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    padding: 4px;
    background-color:cadetblue;
    border-color: teal;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.block {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; 
    margin: 5px;
    padding: 4px;
}

.block1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    margin: 5px;
    padding: 4px;
}

.block2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5; 
    line-height: 1.5;
    margin: 5px;
    padding: 4px;
}

.eventcreate {
    margin: 10px;
    padding: 4px;
    background-color:cadetblue;
    border-color: teal;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    line-height: 1.5;
}

nav li {
    display: inline-block;
    padding: 4px 6px 3px;
    background:gainsboro;
    border-radius: 4px;
}

nav li:hover {
    background-color:silver;
}

nav li a {
    text-decoration: none;
    color: #000;
}
nav ul {
    padding: 0;
    text-align: left;
}

.error {
    margin: 10px;
    padding: 4px;
    background-color:orange;
    border-color: teal;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.frontpage {
    margin: 10px;
    padding: 4px;
    background-color:cadetblue;
    line-height: 1.5;
    border-radius: 4px;
}