<!DOCTYPE html>
<title>Tapahtumainfo</title>
Tapahtuma: {{ info[0] }}
<br>
Päivämäärä: {{ info[1] }}
<br>
Kuvaus: {{ info[2] }}
<br>
{% if info[3] == 1 %}
Tyyppi: Musiikki
{% elif info[3] == 2 %}
Tyyppi: Urheilu
{% elif info[3] == 3 %}
Tyyppi: Taide
{% elif info[3] == 4 %}
Tyyppi: Juhla
{% else %}
Tyyppi: Muu
{% endif %}
<br>
{% if info[4] == 1 %}
Tapahtuma on avoin kaikille
{% else %}
Tapahtuma on vain kutsutuille
{% endif %}
<br>
Tapahtuman luoja: {{ info[5] }}
<br>
Tapahtuman osallistujat:
<hr>
{% for user in users %}
{{ user[0] }}
<br>
{% endfor %}
<hr>
{% if user_is_participant %}
Poistu tapahtumasta:
<br>
<form action="/eventexit{{ info[6] }}" method="POST">
<input type="radio" name="yes" value=0 checked> En
<input type="radio" name="yes" value=1> Kyllä
<br>
<input type="submit" value="Palaa takaisin">
</form>
{% else %}
Liity tapahtumaan:
<br>
<form action="/eventjoin{{ info[6] }}" method="POST">
<input type="radio" name="yes" value=0 checked> En
<input type="radio" name="yes" value=1> Kyllä
<br>
<input type="submit" value="Palaa takaisin">
</form>
{% endif %}
