{% extends "layout.html" %}
{% block title %}Tee tapahtuma{% endblock %}
{% block content %}
{% if message != None %}
    <div class="error">
        Virhe: {{ message }}
    </div>
{% endif %}
<div class="eventcreate">
    <form action="/event" method="POST">
        Anna tapahtuman nimi:
        <input type="text" name="name"> *
        <br>
        Valitse päivämäärä:
        <input type="date" name="date" min="{{ today }}"> *
        <br>
        Anna tapahtuman paikka:
        <input type="text" name="location"> *
        <br>
        Anna tapahtuman kuvaus:
        <input type="text" name="description">
        <br>
        Valitse tapahtuman tyyppi:
        <input type="radio" name="type" value=1> Musiikki
        <input type="radio" name="type" value=2> Urheilu
        <input type="radio" name="type" value=3> Taide
        <input type="radio" name="type" value=4> Juhla
        <input type="radio" name="type" value=5 checked> Muu *
        <br>
        Onko tapahtuma avoin kaikille:
        <input type="radio" name="open" value=0> Ei
        <input type="radio" name="open" value=1 checked> On *
        <br>
        Kutsu käyttäjiä:
        <br>
        {% for user in userlist %}
            <input type="checkbox" name="invites" value="{{ user[1] }}"> {{ user[0] }} <br>
        {% endfor %}
        <br>
        Pakolliset tiedot *
</div>
    <input type="submit" value="Lisää tapahtuma">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">        
</form>

{% endblock %}