{% extends "layout.html" %}
{% block title %}Tapahtumainfo{% endblock %}
{% block content %}
Tapahtuma: {{ info[0] }}
<br>
Päivämäärä: {{ info[1] }}
<br>
Paikka: {{ info[7] }}
<br>
Kuvaus: {{ info[2] }}
<br>
{% if info[3] == 1 %}
Tyyppi: Musiikki
{% elif info[3] == 2 %}
Tyyppi: Urheilu
{% elif info[3] == 3 %}
Tyyppi: Taide
{% elif info[3] == 4 %}
Tyyppi: Juhla
{% else %}
Tyyppi: Muu
{% endif %}
<br>
{% if info[4] == 1 %}
Tapahtuma on avoin kaikille
{% else %}
Tapahtuma on vain kutsutuille
{% endif %}
<br>
Tapahtuman luoja: {{ info[5] }}
<br>
Tapahtuman osallistujat:
<hr>
{% for user in users %}
{{ user[0] }}
<br>
{% endfor %}
<hr>
{% if not past %}
{% if event_owner %}
<a href="/editevent/{{ info[6] }}">Muuta tapahtuman tietoja</a>
<br>
<form action="/eventdelete/{{ info[6] }}" method="POST">
    Poista tapahtuma kokonaan (ei peruttavissa):
    <input type="submit" value="Poista tapahtuma">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
Kutsutut käyttäjät:
<br>
{% for user in invitees %}
{{ user[0] }}
<br>
{% endfor %}
<br>
Kutsu lisää käyttäjiä:
<br>
<form action="/inviteusers/{{ info[6] }}" method="POST">
    {% for username in not_yet_invited %}
    <input type="checkbox" name="invites" value="{{ username[1] }}"> {{ username[0] }} <br>
    {% endfor %}
    <input type="submit" value="Lähetä kutsut">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <br>
</form>
{% endif %}
<br>
{% if user_is_participant %}
<br>
<form action="/eventexit/{{ info[6] }}" method="POST">
    <label for="exit">Osallistut tapahtumaan:</label>
    <select id="exit" name="exit">
        <option value="Yes">Kyllä</option>
        <option value="No">Ei</option>        
    </select>
    <input type="submit" value="Valitse">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}

<br>
<form action="/eventjoin/{{ info[6] }}" method="POST">
    <label for="join">Osallistut tapahtumaan:</label>
    <select id="join" name="join">
        <option value="No">Ei</option>
        <option value="Yes">Kyllä</option>
    </select>
    <input type="submit" value="Valitse">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
<a href="/">Palaa takaisin</a>
{% else %}
<a href="/pastevents">Palaa takaisin</a>
{% endif %}
{% endblock %}