<!DOCTYPE html>
<title>Etusivu</title>
<h1>Event calendar</h1>
{% if session.name %}
<h2>Tervetuloa {{ session.name }}! <a href="/logout"> Kirjaudu ulos</a></h2>
<br>
<h3>Tee uusi tapahtuma <a href="/event">tästä</a></h3>
<br>
<a href="/pastevents">Menneet tapahtumat</a>
<br><br>
Tulevat tapahtumat:
<br>
<form action="/event_type" method="POST">
    <label for="type">Näytä seuraavan tyyppiset tapahtumat:</label>
    <select id="type" name="type">
        <option value=0>Kaikki</option>
        <option value=1>Musiikki</option>
        <option value=2>Urheilu</option>
        <option value=3>Taide</option>
        <option value=4>Juhla</option> 
        <option value=5>Muu</option>        
    </select>
    <input type="submit" value="Näytä">
</form>
<br>
<hr>
{% for event in events %}
Tapahtuma: {{ event[0] }}
<br>
Päivämäärä: {{ event[1] }}
<br>
<a href="/eventinfo/{{ event[2] }}">Lisätietoja</a>
<hr>
{% endfor %}
{% else %}
<a href="/login">Kirjaudu sisään tai tee käyttäjätunnus</a>
{% endif %}

