{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.name %}
<h2>Tervetuloa {{ session.name }}!</h2>
<br>
<a href="/pastevents">Menneet tapahtumat</a>
<br><br>
Tulevat tapahtumat:
<br>
<form action="/event_type" method="POST">
    <label for="type">Näytä tämän tyyppiset tapahtumat:</label>
    <select id="type" name="type">
        <option value=0 {% if selected == 0 %} selected{% endif %}>Kaikki</option>
        <option value=1 {% if selected == 1 %} selected{% endif %}>Musiikki</option>
        <option value=2 {% if selected == 2 %} selected{% endif %}>Urheilu</option>
        <option value=3 {% if selected == 3 %} selected{% endif %}>Taide</option>
        <option value=4 {% if selected == 4 %} selected{% endif %}>Juhla</option> 
        <option value=5 {% if selected == 5 %} selected{% endif %}>Muu</option>        
    </select>
    <input type="submit" value="Näytä">
</form>
<br>
<hr>
{% for event in events %}
Tapahtuma: {{ event[0] }}
<br>
Päivämäärä: {{ event[1] }}
{% if user_id == event[5] %}
<br>
Olet tapahtuman ylläpitäjä
{% endif %}
{% if user_id == event[3] %}
<br>
Sinut on kutsuttu tähän tapahtumaan
{% endif %}
{% if user_id == event[4] %}
<br>
Olet osallistumassa tähän tapahtumaan
{% endif %}
<br>
<a href="/eventinfo/{{ event[2] }}">Lisätietoja</a>
<hr>
{% endfor %}
{% else %}
<a href="/login">Kirjaudu sisään </a> tai <a href="/register">tee käyttäjätunnus</a>
{% endif %}
{% endblock %}
