{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.name %}
<h2>Tervetuloa {{ session.name }}!</h2>
<br>
<a href="/pastevents">Menneet tapahtumat</a>
<br><br>
Tulevat tapahtumat:
<br>
<form action="/event_type" method="POST">
    <label for="type">Näytä tämän tyyppiset tapahtumat:</label>
    <select id="type" name="type">
        <option value=0 {% if selected == 0 %} selected{% endif %}>Kaikki</option>
        <option value=1 {% if selected == 1 %} selected{% endif %}>Musiikki</option>
        <option value=2 {% if selected == 2 %} selected{% endif %}>Urheilu</option>
        <option value=3 {% if selected == 3 %} selected{% endif %}>Taide</option>
        <option value=4 {% if selected == 4 %} selected{% endif %}>Juhla</option> 
        <option value=5 {% if selected == 5 %} selected{% endif %}>Muu</option>        
    </select>
    <input type="submit" value="Näytä">
</form>
<br>
{% for event in events %}
<div class="eventlist">
    <div class="box1"><h2>{{ event[1].strftime('%d.%m.%Y') }}</h2></div>
    <div class="box2"><h2><a href="/eventinfo/{{ event[2] }}">{{ event[0] }}</a></h2></div>
    {% if user_id == event[5] %}
    <div class="box3">
        Olet tapahtuman ylläpitäjä        
    </div>
    {% endif %}
    {% if user_id == event[3] %}
    <div class="box3">
        Sinut on kutsuttu tähän tapahtumaan
    </div>
    {% endif %}
    {% if user_id == event[4] %}
    <div class="box4">   
    Olet osallistumassa tähän tapahtumaan
    </div>
    {% endif %}
</div>
{% endfor %}

{% else %}
Tervetuloa tapahtumakalenteriin. Sivustolla rekisteröityneet käyttäjät voivat tehdä tapahtumia 
ja kutsua muita käyttäjiä mukaan tai liittyä muiden käyttäjien tapahtumiin.
<hr>
<a href="/login">Kirjaudu sisään </a> tai <a href="/register">tee käyttäjätunnus</a>
{% endif %}
{% endblock %}
