<!doctype html>
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tapahtumakalenteri - {% block title %}{% endblock %}</title>
</head>
<div class="header"><h1>Tapahtumakalenteri</h1></div>
<nav>
    <ul>        
        {% if session.name %}
        <li><a href="/">Tulevat tapahtumat</a></li>
        <li><a href="/event">Tee uusi tapahtuma</a></li>
        <li><a href="/pastevents">Menneet tapahtumat</a></li>
        <li><a href="/logout">Kirjaudu ulos</a>  </li>
        {% else %}     
        <li><a href="/">Etusivu</a></li>
        <li><a href="/login">Kirjaudu sisään</a></li>
        <li><a href="/register">Tee käyttäjätunnus</a></li>
        {% endif %}
    </ul>
</nav>
<hr>
{% block content %}{% endblock %}