<!doctype html>
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tapahtumakalenteri - {% block title %}{% endblock %}</title>
</head>
<h1>Tapahtumakalenteri</h1>
<nav>
    <ul>
        <a href="/"><li>Etusivu</li></a> 
        {% if session.name %}
        <a href="/event"><li>Tee uusi tapahtuma</li></a>
        <a href="/logout"> <li>Kirjaudu ulos</li></a>
        {% endif %}
    </ul>
</nav>
<hr>
{% block content %}{% endblock %}